# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Solution1.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Rizat\RiderProjects\Solution1\.idea\.idea.Solution1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
